.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 50vh;
    border-radius: 20px;
    background-color: #1C1929;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    
}
.p {
    color: azure;
    font-size: 20px;
    margin: 10px;
    padding-left: 0%;
}
input {
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-bottom: 15px;
    background-color: #E0DDF7;
    color: #0e0d13;
}
.btn{
    height: 35px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(to right, #a02db8,#7D66B7);
    color: azure;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}
.signinContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f0f0f0; */
    background-image:radial-gradient(circle, #9776cd, #241e37) ;
}
.heading {
    color: #c1b8eb;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    
}
span {
    color: #9941c8;
    cursor: pointer;
}
.btn:hover{
     box-shadow: 0 0 20px #8D70BE, 0 0 10px #8D70BE
}

.message {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  transition: color 0.3s ease;
}

/* Success */
.message:has(✅) {
  color: #4caf50;
}

/* Error */
.message:has(❌) {
  color: #ff4d4d;
}
