@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container-3 {
    background-color: rgb(179, 140, 238);
    background-size: cover;
    height:20vh;
    width:20vh;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 
        0 0 20px rgba(135, 116, 203, 0.5), /* Inner, bright glow */
        0 0 40px rgba(135, 116, 203, 0.3), /* Medium glow */
        0 0 60px rgba(135, 116, 203, 0.2); /* Outer, soft glow */
    animation: glow-pulse 3s infinite alternate;


}
.paragraph {
    color:azure;
    font-size:30px;
    text-align: center;
}
.image{
    height:100px;
    padding-left: 20px;
    padding-top:10px;
}

.container-3:hover{
    transform: translateY(-5px); /* Lifts the card up */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4); /* Stronger shadow on hover */
}

@keyframes glow-pulse {
    from {
        box-shadow: 
            0 0 20px rgba(135, 116, 203, 0.5), 
            0 0 40px rgba(135, 116, 203, 0.3), 
            0 0 60px rgba(135, 116, 203, 0.2);
    }
    to {
        box-shadow: 
            0 0 30px rgba(135, 116, 203, 0.7), /* Glow becomes brighter */
            0 0 50px rgba(169, 200, 58, 0.4), 
            0 0 70px rgba(135, 116, 203, 0.3); /* Spreads out more */
    }
}

