.movie-list-container {
  padding: 2rem;
  background-color: #0d0d0d;
  color: white;
  min-height: 100vh;
}

.page-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.movie-card {
  background: #1a1a1a;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-poster {
  width: 100%;
  height: 380px;
  object-fit: cover;
}

.movie-details {
  padding: 1rem;
}

.movie-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.movie-overview {
  font-size: 0.9rem;
  color: #bfbfbf;
  margin-bottom: 1rem;
  height: 60px;
  overflow: hidden;
}

.trailer-button {
  background-color: #ff4040;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.trailer-button:hover {
  background-color: #ff7373;
}

.no-movies {
  text-align: center;
  color: #474040;
  margin-top: 3rem;
  font-size: 1.3rem;
  
}
.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #84db0a;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  transition: background-color 0.3s ease;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.back-button:hover {
  background-color: #ff7373;
}

.search-filter-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  justify-content: center;
}

.search-input, .genre-select {
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.movie-detail-page {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
}

.detail-poster {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.detail-info {
  max-width: 600px;
}

.trailer-btn {
  margin-top: 1rem;
  background-color: #ff4757;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.search-input {

  width: 300px;
  margin-right: 1rem;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.genre-select {
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  color: #0d0d0d;
}



















































































































































/* .movie-list {
  margin-top: 30px;
  text-align: center;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.movie-card {
  width: 150px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 10px;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.1);
} */