@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.firstpage{
    background-color: rgb(21, 18, 41);
    width:100vw;
    height:100vh;
    background-size: cover;
    /* background-image:radial-gradient(circle, #6e45b0, #241e37) ; */
    position: relative;
    overflow: hidden;
    filter: brightness(1.3); 
    /* 1 = normal, >1 = lighter */

}

.stars, .stars2, .stars3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-size: contain;
  z-index: -1;
  animation: moveStars 100s linear infinite;
}

.stars {
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  opacity: 1.3;
}
.stars2 {
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  opacity: 1.5;
  animation-duration: 150s;
}
.stars3 {
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  opacity: 0.8;
  animation-duration: 400s;
}

@keyframes moveStars {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1000px);
  }
}


.header{
    color:beige;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 110px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 0 10px #8083b0, 0 0 20px #899ff7, 0 0 40px #508484;
    position: relative;
    z-index: 1;

}
.mood-container {
    padding-top:80px;
    display:flex;
    justify-content: space-around ;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;


}
.welcome-text {
  text-align: center;
  margin-top: 100px;
  font-size: 2.5rem;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 0 10px #3a86ff, 0 0 20px #15e3d6, 0 0 40px #2f6597;
  animation: fadeInGlow 3s ease-in-out;
}

.tagline {
  display: block;
  font-size: 1.3rem;
  color: #d9d9d9;
  margin-top: 20px;
  animation: fadeIn 4s ease-in-out;
}

@keyframes fadeInGlow {
  0% {
    opacity: 0;
    text-shadow: none;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 20px #3a86ff, 0 0 40px #8338ec, 0 0 60px #9658bf;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 10px #3a86ff, 0 0 20px #8338ec, 0 0 40px #a059cf;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* .firstpage {
  min-height: 100vh;
  background: radial-gradient(circle at top left, #1b1f3b, #090a14);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow: hidden;
  animation: gradientMove 10s ease infinite alternate;
} */

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
